* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}

header{
    height: 13vh;
    margin-bottom: 1rem;
    width: auto;
    min-width: 600px;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-area: header;
}
header div{
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}
header .logo-cuida img {
    width: 80px;
    height: auto;
}
header a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
header a img {
    width: 50px;
    height: auto; 
    gap: 30px;    
}
.hamburguer {
    display:none;
}


header div a{
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Instrument Sans';
    font-size: 16px;
    font-weight: 500;
    transition: 800ms;
}
header div a:hover {
    color: #EDC274;
    transition: 300ms;
    transform: translateX(2px) scaleZ(1.8);
}

main{
    display: flex;
    margin-bottom: 1.5rem;
}
ul{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 5.5rem;
    font-size: 2rem;
    gap: .5rem;
}
li{
    background-color: #D9D9D9;
    color: #001BCC;
}

.text{
    background-color: #001BCC;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: end;
}
.copyright-rodape {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto
}

.copyright-rodape .linha-acima{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    text-transform: uppercase;
    cursor: default;
    font-size: 20px;
    font-family: "Instrument Sans";
    font-weight: 300px;
    display: none;
}

.copyright-rodape .linha-abaixo {
    font-weight: 200;
    color: #626262;
    display: flex;
    justify-content: center;
}