*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    color: #FFFFFF;
}

main{
    background-color: #001BCC;
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    justify-content: space-around;
}

header{
    text-align: center;
}

header img{
    width: 8rem;
    height: 9rem;
}

.login-info{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.login-options{
    display: flex;
}

input[type="email"],input[type="password"]{
    padding: .3rem;
    border-radius: 8px;
    border-style: none;
    width: 15rem;
}

input[type="checkbox"]{
    margin-right: .2rem;
}

a{
    text-decoration: none;
}

#esqueceu-senha{
    margin-left: 1rem;
}

button{
    width: 10rem;
    height: 2.4rem;
    color: #43FF2E;
    border-radius: .6rem;
    border-style: none;
    background-color: #FFFCFC;
}

.criar-conta{
    display: flex;
    gap: 1rem;
}

#criar-conta{
    color: black;
}
