* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}

header{
    height: 13vh;
    margin: auto;
    width: auto;
    min-width: 600px;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-area: header;
}
header div{
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}
header .logo-cuida img {
    width: 80px;
    height: auto;
}
header a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
header a img {
    width: 50px;
    height: auto; 
    gap: 30px;    
}
.hamburguer {
    display:none;
}


header div a{
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Instrument Sans';
    font-size: 16px;
    font-weight: 500;
    transition: 800ms;
}
header div a:hover {
    color: #EDC274;
    transition: 300ms;
    transform: translateX(2px) scaleZ(1.8);
}
main {
    display: flex;
    height: 80dvh;
    margin: 0 0 45px 0;
    
}
.text1{
    min-width: 800px;
    width: 1231px;
    height: auto;
    min-height: 300px;
    padding: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 150px;
    background-color: #D9D9D9;
}
.text1 h2{
    color: #001BCC;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
}
.text1 p{
    font-size: 25px;
    color: #001BCC;
}
.text2 {
    background-color: #001BCC;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
    gap: 200px;
    height: auto;
    
}
.text2 h2{
    width: auto;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    
}
.text2 ul {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.text2 li{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: #D9D9D9;
    text-transform: uppercase;
}

.text2 img{
    width: 42px;

}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: end;
}
.copyright-rodape {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto
}

.copyright-rodape .linha-acima{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    text-transform: uppercase;
    cursor: default;
    font-size: 20px;
    font-family: "Instrument Sans";
    font-weight: 300px;
    display: none;
}

.copyright-rodape .linha-abaixo {
    font-weight: 200;
    color: #626262;
    display: flex;
    justify-content: center;
}