* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "text1 text2"
    "footer footer"
    ;
}

header{
    height: 13vh;
    margin: auto;
    width: auto;
    min-width: 600px;
    text-align: center;
    display: grid; 
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-area: header;
}
header div{
    display: flex;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}
header .logo-cuida img {
    width: 80px;
    height: auto;
}
header a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
header a img {
    width: 50px;
    height: auto; 
    gap: 30px;    
}
.hamburguer {
    display:none;
}


header div a{
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Instrument Sans';
    font-size: 16px;
    font-weight: 500;
    transition: 800ms;
}
header div a:hover {
    color: #EDC274;
    transition: 300ms;
    transform: translateX(2px) scaleZ(1.8);
}

.text1{
    grid-area: text1;
    margin: auto;
    min-width: 800px;
    width: 1231px;
    height: 906px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 100px;
    background-color: #D9D9D9;
    padding: 3rem;
}
.text1 h2{
    color: #001BCC;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
}

.text1 p{
    color: #001BCC;
    font-size: 2.25rem;
    text-align: justify;
}

.text2 {
    padding-top: 2rem;
    background-color: #001BCC;
    display: flex;
    flex-direction: column;
}

.text2 h2{
    width: auto;
    height: 133px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    
}
.text2 ul{
    display: flex;
    padding-left: 1.6rem;
    flex-direction: column;
    gap: 2rem;
}
.text2 li{
    align-items: center;
    list-style: none;
    display: flex;
    font-size: x-large;
    gap: 2.5rem;
    color: #FFF;
}

.text2 img{
    width: 52px;
}

