 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}
header{
    width: 85%;
    min-width: unset;
    height: 13vh;
    text-align: center;
    display:flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    margin: auto;
}
header div{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 60px;
    text-transform: uppercase;
}
header .logo-cuida img {
    width: 80px;
    height: auto;
}
header a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Instrument Sans";
    gap:10px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
header a img {
    width: 50px;
    height: auto; 
    gap: 30px;
    transition: 300ms;
}

.login {
    height: 8vh;
    margin: auto 30px;
}
header a img.logo-cuida:hover, header a:hover{
    transition: 200ms ease-in-out;
    transform: scale(1.1);
}
.hamburguer {
    display:none;
}
header div a{
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Instrument Sans';
    font-size: 16px;
    font-weight: 500;
    transition: 800ms;
    
}
header div a:hover {
    color: #EDC274;
    transition: 300ms;
    transform: translateX(2px) scaleZ(1.1);
}
main {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}
.titulo-container {
    width: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    text-transform: uppercase;

}
.container-form {
    margin: auto;
    width:90%;
    height: 90%;
    background-color:#001BCC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    color: white;
    box-shadow:  #626262;
}
.container-form div {
    text-align: left;
    text-transform: uppercase;
}
.container-esquerda {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-form form{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
}
.container-mensagem {
    display: flex;
    flex-direction: column;
}
input {
    width: 508px;
    height: 48px;
    border-radius: 11px;
    border: 0;
    padding: 0 20px;
}
textarea {
    width: 390px;
    height: 320px;
    resize:none;
    padding:18px;
    border-radius: 11px;
    margin-top: 10px;
}
footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: end;
}
.copyright-rodape {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin:auto
}

.copyright-rodape .linha-acima{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    text-transform: uppercase;
    cursor: default;
    font-size: 20px;
    font-family: "Instrument Sans";
    font-weight: 300px;
    display: none;
}

.copyright-rodape .linha-abaixo {
    font-weight: 200;
    color: #626262;
    display: flex;
    justify-content: center;
}