@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    color: #FFFFFF;
    font-family: "Inter";
    font-weight: 300;
}

main{
    background-color:#001BCC;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

header{
    text-align: center;
    margin-bottom: 2rem;
}

header h4{
    font-size: 1.4rem;
}

h4{
    font-size: large;
}

header img{
    width: 14rem;
    height: 12rem;
}

.login-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
    padding-bottom: 2rem;
}

.email,.senha,.nome,.nascimento{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
    gap: .3rem;
}

.senha i{
    position: absolute;
    color: black;
    right: .8rem;
    bottom: 1rem;
    cursor: pointer;
}
.email label,.senha label,.nome label,.nascimento label{
    padding-left: .4rem;
}

input[type="email"],input[type="password"],input[type="date"],input[type="text"]{
    height: 3rem;
    border-radius: 8px;
    border-style: none;
    color: black;
}

button{
    width: 12rem;
    height: 3rem;
    font-weight: 400;
    color: #43FF2E;
    border-radius: .6rem;
    border-style: none;
    background-color: #FFFCFC;
    cursor: pointer;
    font-size: 1.3rem;
}