@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: "Inter";
    font-weight: 300;
}

main{
    background-color:#001BCC;
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

header{
    text-align: center;
    
}

h4{
    font-size: large;
    color: #FFFFFF;
}

header img{
    width: 14rem;
    height: 12rem;
}

.login-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #FFFFFF;
}

.email,.senha{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
    gap: .3rem;
}

.senha i{
    position: absolute;
    color: black;
    right: .8rem;
    bottom: 1rem;
    cursor: pointer;
}

.email label,.senha label{
    padding-left: .4rem;
}
.login-options{
    display: flex;
}

input[type="email"],input[type="password"],input[type="text"]{
    height: 3rem;
    border-radius: 8px;
    border-style: none;
    color: black;
    padding-left: 1rem;
}

input[type="checkbox"]{
    margin-right: .2rem;
}

a{
    text-decoration: none;
}

#esqueceu-senha{
    margin-left: 1rem;
}
input[type="checkbox"]{
    accent-color: #f9f9f9;
}
button{
    width: 10rem;
    height: 2.4rem;
    font-weight: 400;
    color: #000000;
    border-radius: .6rem;
    border-style: none;
    background-color: #FFFCFC;
    cursor: pointer;
    font-size: 1.3rem;
}

#btnLogar{
    /* border-color: yellow; */
    border: 2px solid rgb(0, 0, 0);
    height: 2.5rem;
}


.login-com{
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 4rem;
}

#logingoogle{
    background-color: transparent;
}

.facebook{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

}
.facebook button{
    position: relative;
    border-radius: 1rem;
    width: 210px;
    font-size: .8rem;
    text-align: center;
}

.facebook img{
    position: absolute;
    height: 1.4rem;
    top: .55rem;
    left: 5.5%;
}

.criar-conta{
    display: flex;
    gap: 1rem;
}

#criar-conta{
    color: rgb(14, 13, 13);
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
}
