@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    color: #FFFFFF;
    font-family: "Inter";
    font-weight: 300;
}

main{
    background-color:#001BCC;
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50rem;
    justify-content: space-around;
}

header{
    text-align: center;
}

h4{
    font-size: large;
}

header img{
    width: 14rem;
    height: 12rem;
}

.login-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.email,.senha{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
    gap: .3rem;
}

.senha i{
    position: absolute;
    color: black;
    right: .8rem;
    bottom: 1rem;
    cursor: pointer;
}
.email label,.senha label{
    padding-left: .4rem;
}
.login-options{
    display: flex;
}

input[type="email"],input[type="password"]{
    height: 3rem;
    border-radius: 8px;
    border-style: none;
}

input[type="checkbox"]{
    margin-right: .2rem;
}

a{
    text-decoration: none;
}

#esqueceu-senha{
    margin-left: 1rem;
}

button{
    width: 10rem;
    height: 2.4rem;
    font-weight: 400;
    color: #43FF2E;
    border-radius: .6rem;
    border-style: none;
    background-color: #FFFCFC;
    cursor: pointer;
    font-size: 1.3rem;
}

.login-com{
    display: flex;
    position: relative;
    gap: 1rem;
}

.login-com button{
    padding-right: .8rem;
}

.google img{
    height: 1.2rem;
    position: absolute;
    right: 55%;
    top: .55rem;
}

.facebook img{
    position: absolute;
    height: 1.3rem;
    top: .55rem;
    right: 3%;
}

.criar-conta{
    display: flex;
    gap: 1rem;
}

#criar-conta{
    color: black;
    cursor: pointer;
    font-size: 1.3rem;
}
