* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}
body {
    overflow-x: hidden;
}
header{
    width: 85%;
    min-width: unset;
    height: 13vh;
    text-align: center;
    display:flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    margin: auto;
}
header div{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 60px;
    text-transform: uppercase;
}
header .logo-cuida img {
    width: 80px;
    height: auto;
}
header a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Instrument Sans";
    gap:10px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
header a img {
    width: 50px;
    height: auto; 
    gap: 30px;
    transition: 300ms;
}

.login {
    height: 8vh;
    margin: auto 30px;
}
header a img.logo-cuida:hover, header a:hover{
    transition: 200ms ease-in-out;
    transform: scale(1.1);
}
.hamburguer {
    display:none;
}
header div a{
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    font-family: 'Instrument Sans';
    font-size: 16px;
    font-weight: 500;
    transition: 800ms;
    
}
header div a:hover {
    color: #EDC274;
    transition: 300ms;
    transform: translateX(2px) scaleZ(1.1);
}
main{
    width: 100%;
    height: 100%;
    top: 9vh;
    display: flex;
    margin: auto;
    background-color: #e9e9e9;
}
main section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 85%;
    border-radius: 12px;
}

main section div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    margin: auto;
}

section div h1{
    width: auto;
    font-weight: 700;
    font-size: 3vw;
    margin: 4vh;
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 300;
}

.terceira-div{
    gap: 5vh;
}

.velhos-1 {
    width: 45%;
}

.segunda-div {
    display: flex;
    flex-direction: row-reverse;
}

.videoconferencia {
    width: 50%;
    border-radius: 10px;
}
.content-cuidaia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.content-cuidaia h1:nth-child(2) {
    width: 90%;
    font-size: 5.5vw;
}
.cuida-ia {
    width: 40%;
    border-radius: 12px;
}
.sub-container {
    justify-content: space-evenly;
    width: 100%;
    height: 70vh;
    margin-bottom: 20vh;
}

.sub-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 30%;
    height: 70%;
    border:3px solid #000;
    border-radius: 4px;
    padding-top: 0;
}
.sub-container div.carac-items1 img{
    width: 170px;
}
.sub-container div p{
    width: 100%;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: static;
    background-color: #e9e9e9;
}
footer h1 {
    width: 70% ;
    font-family: 'Source Sans 3';
    font-size: 48px;
    text-align: center;
    padding-top:30px ;
    font-weight: 400;
    text-transform: uppercase;
    color: #edc374;
}
.primeira-camada {
    width: 100%;
    max-width: 1440px;
    justify-content: space-around;
    /*gap: 19vh;*/
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 10vh 0;
}
.primeira-camada div{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.primeira-camada div h3 {
    cursor: default;
    text-transform: uppercase;
    font-size: 20px;
}
footer div ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.apresentacao-cuida img {
    width: 20vh;
}

a {
    text-decoration: none;
    color: #000;
}
a li {
    font-family: 'Instrument Sans';
    text-transform: none;
    list-style: none;
    color: #000;
}

a li:hover {
    color: #EDC274;
    transition: 300ms;
}
.copyright-rodape {
    display: flex;
    flex-direction: column;
    gap:30px;
    width:1440px;
}

.copyright-rodape .linha-acima{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    text-transform: uppercase;
    cursor: default;
    font-size: 20px;
    font-family: "Instrument Sans";
    font-weight: 300px;
}

.copyright-rodape .linha-abaixo {
    margin-bottom: 10px;
    font-weight: 200;
    color: #626262;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1050px) {
    header {
        min-width: unset;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;
    }
    .logo-cuida {
        order: 2;
    }
    .login p {
        display: none;
    }
    .hamburguer {
        order: 3;
        display: block;
        cursor: pointer;
    }
    .menu-side {
        display: none;

    }
    .responsivo {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 13vh;
        width: 100%;
        height: auto;
        background-color: #fff;
        z-index: 10;
        text-align: center;
        padding: 20px 0;
    }
    .primeira-div{
        flex-direction: column;
        font-size: 10vw;
    }
    .velhos-1 {
        width: 80%;
    }
    .segunda-div {
        flex-direction: column;
    }

    .videoconferencia {
        width: 80%;
    }
    .terceira-div {
        flex-direction: column;
        margin: 0;
        
    }
    .content-cuidaia {
        padding: 0;
        flex-wrap: wrap;
    }
    .content-cuidaia h1:nth-child(2) {
        font-size: 10vw;
    }
    .cuida-ia {
        width: 80%;
    }
    .sub-container {
        flex-direction: column;
        height: auto;
        gap: 40px;
    }

    .sub-container div {
        width: 80%;
    }
    footer .primeira-camada{
        flex-direction: column;
        row-gap: 80px;
        flex-wrap: nowrap;
    }
}